function export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/usr/bin/env bash -e" > "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

export_alias image_init "docker build -t docker_101 . --no-cache \
                        && docker run --rm -v $(pwd):/app docker_101 'bundle install' \$@"

export_alias image_update "docker exec docker_101_web_1 bash -c \
                          'bundle install && rm -rf /tmp/* /var/tmp/* /usr/lib/ruby/gems/*/cache/*.gem' \$@"
                          
export_alias db_init  "docker run --rm -v $(pwd):/app docker_101 'rails db:create' \
                      && docker run --rm -v $(pwd):/app docker_101 'rails db:migrate' \$@"

export_alias yarn_install "docker run --rm -v $(pwd):/app docker_101 bash -c \
                          'yarn install' \$@"

export_alias asset_compile "docker run --rm -v $(pwd):/app docker_101 bash -c 'rails assets:precompile RAILS_ENV=production' \$@"

export_alias dev_start "docker-compose -f start.yml up \$@"

export_alias dev_stop "docker-compose -f start.yml down \$@"
