function export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/usr/bin/env bash -e" > "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

export_alias dev_init "docker build -f docker_101 . \$@"
export_alias dev_new_gem "docker exec docker_101_web_1 bash -c \
                         'bundle install && rm -rf /tmp/* /var/tmp/* /usr/lib/ruby/gems/*/cache/*.gem' \$@"
export_alias asset_compile "docker exec docker_101_web_1 rails assets:precompile RAILS_ENV=production \$@"
export_alias dev_start "docker-compose -f start.yml up \$@"
export_alias dev_stop "docker-compose -f start.yml down \$@"
